.nav

  &__link
    color: var(--muted)

    &:hover
      color: var(--fg)
      opacity: 1

    &:active
      color: var(--accent)

    &--active
      color: var(--accent)
      pointer-events: none

.container nav
  margin:
    left: -10px
    right: -10px
